Repository move-coop/parsons, pull requests merged in 2019-09, with the labels that each got.

#8 Mobilize America - New Endpoints
  parsons/mobilize_america/ma.py
  test/test_mobilize_america.py
  test/test_utilities.py
Labels: enhancement

#12 CrowdTangle Connector
  docs/crowdtangle.rst
  docs/index.rst
  parsons/__init__.py
  parsons/crowdtangle/__init__.py
  parsons/crowdtangle/crowdtangle.py
  test/test_crowdtangle/leaderboard.py
  test/test_crowdtangle/link_post.py
  test/test_crowdtangle/post.py
  test/test_crowdtangle/test_crowdtangle.py
Labels: enhancement

#11 Update VAN Docs
  parsons/ngpvan/people.py
Labels: documentation

#14 Table.to_csv Zip Compression
  docs/table.rst
  parsons/etl/tofrom.py
  parsons/utilities/files.py
  parsons/utilities/zip_archive.py
  test/test_etl.py
Labels: enhancement

#23 Documentation Bugs
  docs/action_kit.rst
  docs/airtable.rst
  docs/table.rst
  parsons/etl/etl.py
  parsons/etl/tofrom.py
Labels: bug

#26 CrowdTangle: Change String Args To Lists
  parsons/crowdtangle/crowdtangle.py
Labels: bug

#18 Documentation - Lots of Small Updates/Edits
  docs/airtable.rst
  docs/copper.rst
  docs/index.rst
  docs/ngpvan.rst
  docs/redshift.rst
  docs/table.rst
  parsons/etl/tofrom.py
Labels: documentation

#25 VAN: Add ID to find_person() and upsert_person()
  parsons/ngpvan/people.py
  parsons/utilities/converted_dict.py
  test/test_utilities.py
  test/test_van/test_people.py
Labels: bug, enhancement

#33 Revert "VAN: Add ID to find_person() and upsert_person()"
  parsons/ngpvan/people.py
  parsons/utilities/converted_dict.py
  test/test_utilities.py
  test/test_van/test_people.py
Labels: bug

#31 VAN: Update Docs
  parsons/ngpvan/activist_codes.py
  parsons/ngpvan/canvass_responses.py
  parsons/ngpvan/codes.py
  parsons/ngpvan/events.py
  parsons/ngpvan/locations.py
  parsons/ngpvan/survey_questions.py
Labels: documentation

#38 Docs: Fix code blocks in docs.
  docs/index.rst
Labels: documentation

#35 Civis: Instantiate Class Improvement, Access Client
  parsons/civis/civisclient.py
Labels: clean up, enhancement

#34 Hustle: Agents, Tags, Docs Cleanup
  docs/hustle.rst
  parsons/hustle/__init__.py
  parsons/hustle/hustle.py
  test/test_hustle/expected_json.py
  test/test_hustle/test_hustle.py
Labels: documentation, enhancement
