Repository move-coop/parsons, pull requests merged in 2019-10, with the labels that each got.

#41 Remove documentation building packages from dependencies.
  .circleci/config.yml
  docs/requirements.txt
  requirements.txt
Labels: clean up

#42 Remove Pandas requirement.
  docs/table.rst
  requirements.txt
Labels: clean up

#44 Fix Docs Requirements
  docs/requirements.txt
Labels: bug

#43 ActionKit: Fix Domain
  parsons/action_kit/action_kit.py
  test/test_action_kit.py
Labels: bug

#37 VAN: Update Scores Methods
  parsons/ngpvan/scores.py
  parsons/ngpvan/van.py
  test/test_van/test_ngpvan.py
Labels: enhancement

#46 Table: Fix zip compression bugs.
  parsons/etl/tofrom.py
  parsons/utilities/files.py
  requirements.txt
  test/test_etl.py
Labels: bug

#39 Docs: Redshift Cleanup
  docs/redshift.rst
  docs/s3.rst
  parsons/aws/s3.py
  parsons/databases/redshift/redshift.py
  parsons/databases/redshift/rs_table_utilities.py
Labels: clean up, documentation

#49 Standard Request Connector - Second Try
  parsons/ngpvan/activist_codes.py
  parsons/ngpvan/van_connector.py
  parsons/utilities/api_connector.py
  test/test_van/test_ngpvan.py
Labels: clean up

#45 VAN: Get Bulk Import Resources
  docs/ngpvan.rst
  parsons/ngpvan/bulk_import.py
  parsons/ngpvan/van.py
  test/test_van/test_bulkimport.py
Labels: enhancement

#54 Fix Circle CI
  .circleci/config.yml
Labels: bug

#52 VAN: POST Requests
  parsons/ngpvan/activist_codes.py
  parsons/ngpvan/people.py
  parsons/ngpvan/supporter_groups.py
  parsons/ngpvan/survey_questions.py
  parsons/ngpvan/utilities.py
  parsons/ngpvan/van.py
  parsons/ngpvan/van_connector.py
  parsons/utilities/api_connector.py
  requirements.txt
  test/test_van/test_activist_codes.py
  test/test_van/test_codes.py
  test/test_van/test_ngpvan.py
  test/test_van/test_people.py
Labels: clean up

#56 VAN: Changed Entity Methods
  docs/ngpvan.rst
  parsons/ngpvan/changed_entities.py
  parsons/ngpvan/van.py
  test/test_van/test_changed_entities.py
  test/test_van/test_ngpvan.py
Labels: enhancement

#68 Adding quotes property to VAN fileLoadingJobs endpoint
  parsons/ngpvan/scores.py
Labels: bug
