Repository move-coop/parsons, pull requests merged in 2020-10, with the labels that each got.

#398 Docs: Update SFTP
  docs/sftp.rst
  parsons/sftp/sftp.py
Labels: ragtag

#423 New connector: Sisense / Periscope
  docs/index.rst
  docs/sisense.rst
  parsons/__init__.py
  parsons/sisense/__init__.py
  parsons/sisense/sisense.py
  test/test_sisense/__init__.py
  test/test_sisense/test_data.py
  test/test_sisense/test_sisense.py
Labels: ragtag

#435 add instructions for building docs
  CONTRIBUTING.md
Labels: ragtag

#436 Add SurveyGizmo connector to the top-level parson's imports
  docs/index.rst
  parsons/__init__.py
Labels: ragtag

#431 Add zoom_to_van.py sample script
  useful_resources/sample_code/README.md
  useful_resources/sample_code/zoom_to_van.py
Labels: ragtag

#438 Fixing test_gmail.py
  test/test_gmail/assets/loremipsum_b64_win_txt.txt
  test/test_gmail/test_gmail.py
Labels: ragtag

#427 Add VAN script for random sample of a saved list
  useful_resources/sample_code/README.md
  useful_resources/sample_code/ngpvan_sample_list.py
Labels: ragtag

#411 Docs: Update AWS
  docs/aws.rst
  docs/build_a_connector.rst
  docs/databases.rst
  docs/sftp.rst
  parsons/aws/aws_async.py
  parsons/aws/lambda_distribute.py
  parsons/aws/s3.py
  parsons/databases/mysql/mysql.py
  parsons/databases/postgres/postgres_core.py
  parsons/databases/redshift/redshift.py
  parsons/databases/redshift/rs_table_utilities.py
  parsons/sftp/sftp.py
Labels: ragtag

#444 Google Cloud Storage: Create Presigned URL
  docs/table.rst
  parsons/etl/tofrom.py
  parsons/google/google_cloud_storage.py
  test/test_google/test_google_cloud_storage.py
Labels: enhancement

#448 Table.from_s3_csv: Allow for zipped archives.
  parsons/etl/tofrom.py
  parsons/utilities/files.py
  parsons/utilities/zip_archive.py
  test/test_etl.py
  test/test_utilities.py
Labels: bug
