Repository move-coop/parsons, pull requests merged in 2020-08, with the labels that each got.

#332 Postgres: Fix generate_data_types
  parsons/databases/postgres/postgres_create_statement.py
  parsons/databases/redshift/rs_create_table.py
  test/test_databases/test_postgres.py
  test/test_redshift.py
Labels: ragtag

#350 Documentation: Cloud Storage Utility
  docs/index.rst
  docs/utilities.rst
  parsons/ngpvan/scores.py
Labels: documentation

#349 VAN: Bulk Upload Initial Methods
  docs/ngpvan.rst
  parsons/ngpvan/bulk_import.py
  parsons/utilities/cloud_storage.py
  test/test_van/test_bulkimport.py
Labels: enhancement
