Repository move-coop/parsons, pull requests merged in 2023-06, with the labels that each got.

#837 feat: add Nation Builder Connector
  docs/index.rst
  docs/nation_builder.rst
  parsons/__init__.py
  parsons/nation_builder/__init__.py
  parsons/nation_builder/nation_builder.py
  test/test_nation_builder/__init__.py
  test/test_nation_builder/fixtures.py
  test/test_nation_builder/test_nation_builder.py
Labels: 🎉 first PR

#821 Update Twilio Package Version
  requirements.txt
Labels: enhancement, low priority

#842 Implement, test, and document Parsons Table deduplicate method
  docs/table.rst
  parsons/etl/etl.py
  test/test_etl.py
Labels: 🎉 first PR

#826 Action Builder connector
  docs/action_builder.rst
  docs/index.rst
  parsons/__init__.py
  parsons/action_builder/__init__.py
  parsons/action_builder/action_builder.py
  test/test_action_builder/test_action_builder.py
Labels: high priority, new connector
