Repository move-coop/parsons, pull requests merged in 2024-01, with the labels that each got.

#965 Action Builder Deactivate & Reactivate Connections
  parsons/action_builder/action_builder.py
  test/test_action_builder/test_action_builder.py
Labels: enhancement

#969 add client_options with default scopes to client
  parsons/google/google_bigquery.py
Labels: high priority, connector update

#973 Update get_columns_list() to accept tables with spaces in the name
  parsons/databases/redshift/rs_table_utilities.py
Labels: bug, high priority, connector update, 🎉 first PR
